###
#@frontend dependencies
frontend/node_modules
frontend/.pnp
frontend.pnp.js


#@frontend misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
#@frontend testing
frontend/coverage

#@frontend production
frontend/build


#@backend dependencies
backend/node_modules

#@backend misc
backend/.DS_Store
backend/.env

#@database misc
database/scripts/db_backup.sql

#deployment
frontend/.git
frontend/.gitignore
backend/.git
backend/.gitignore


# security reasons and unneeded
azuredeploy.json
scripts/azure/connectdb.sh
scripts/azure/deployUpdate.fish
scripts/azure/redeploy.fish
scripts/azure/syncContainers.sh
scripts/azure/.env
scripts/startBackend.sh
scripts/startFrontend.sh


