
#@frontend dependencies
frontend/node_modules
frontend/.pnp
frontend.pnp.js

#@frontend misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
#@frontend testing
frontend/coverage

#@frontend production
frontend/build


#@backend dependencies
backend/node_modules

#@backend misc
backend/.DS_Store
backend/.env

#@database misc
database/scripts/combined_migrations.sql
